 <div class="navigation">
        <ul>
          <li class="list active" data-color="#ededed">
            <a href="#">
              <span class="icon"><i class="far fa-home"></i></span>
            </a>
          </li>

          <li class="list" data-color="#d3d3d3">
            <a href="#">
              <span class="icon"><i class="far fa-list-ul"></i></span>
            </a>
          </li>

          <li class="list" data-color="#f1f1f1">
            <a href="#">
              <span class="icon"><img src="/images/easy.png" /></span>
            </a>
          </li>

          <li class="list" data-color="#0fbcf9">
            <a href="#">
              <span class="icon"><i class="far fa-question-circle"></i></span>
            </a>
          </li>

          <li class="list" data-color="#ffa801">
            <a href="#">
              <span class="icon dropdown-toggle"><i class="far fa-user"></i></span>
              <span class="title">Settings</span>
              
            </a>
          </li>
          
          <div class="indicator"></div>
        </ul>
</div>