<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>EasyTrip, get ready <strong>to live</strong> your <strong>best life.</strong>!</h1>
    <p>Add some spice to your life with EasyTrip.</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>