<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( https://res.cloudinary.com/dcz8avk6a/image/upload/v1637756296/production/cat-banner_d9unrp.jpg);">
  <div class="container">
    <h1>Our Concept</h1>
    <p>Get ready to live your best life !</p>
  </div>
</div>


<div class="about-section">
  <div>
    <h1>What we do</h1>
    <p>You love adventures and surprises? EasyTrip is here to help you.</p>
    <p>Select a specific category which you would like to explore and let the app do its magic.
      Just sit back, relax and enjoy! </p>
  </div>

  <div class="links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
