<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wexinc.com/wp-content/uploads/2017/07/wex-adventure-tourism-600x315.jpg);">
</div>

<div class="about-section">
<div>
  <h1>What we do</h1>
  <h4>We'll take you wherever you're meant to go</h4>
  <p>Stop control-freaking your trip. Just sit back, relax and let EasyTrip arrange everything.</p>
  <p>Select a specific category which you would love to explore and let the app do its magic. 😎 </p>
</div>

  <div class="links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
