<%= render 'banner' %>
<div class='container'>
  <h2>All Categories</h2>

  <div class='row d-flex justify-content-around mb-2 align-items-center'>
    <% @categories.each do |category| %>
      <div class="col-12">
        
      </div>
    <% end %>
  </div>


</div>
