.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  border-radius: 10px;
  position: relative;
}

.act-head {
  background: transparent;
  border-radius: 30px;
  font-size: 16px;
  position: relative;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.act-back-btn {
  font-size: 24px;
  color: #696969;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
}

.act-head h2 {
  margin: 0;
  font-size: 24px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #1a1a1a;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
  color:#1a1a1a;
}

// :nth-child(3)

.card-trip p {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 60ch;
  max-height: 6.2em;
  line-height: 1.6em;
}


.card-blur{
 filter: blur(3px);
}

.card-trip .card-trip-details {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-details span {
  font-weight: 700;
}

.card-trip span i {
  font-size: 100px;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  filter: drop-shadow(1px 1px 2px rgb(83, 83, 83 / 0.9));
}
