.booking-details-card {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.booking-details-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

// .booking-details-card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.booking-details-card p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 9px;
}

.booking-details-card .booking-details-card-infos {
  padding: 20px 0;
}

.booking-details-card .card-icon {
  font-size: 50px;
  width: 60px;
  height: 60px;
  margin: 20px;
  display: flex;
  justify-content: center;
}

i.fa-seedling {
  color: $green;
}

i.fa-swimmer {
  color: $blue;
}

i.fa-monument {
  color: #343a40;
}

i.fa-palette {
  color: $blue;
}

i.fa-tree {
  color: $green;
}

i.fa-running {
  color: $orange;
}

i.fa-utensils {
  color: $blue;
}

i.fa-hands-helping {
  color: $orange;
}
