.booking-details-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.booking-details-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

// .booking-details-card h2 {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

.booking-details-card p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.booking-details-card .booking-details-card-infos {
  padding: 16px;
}

.booking-details-card .card-icon {
  font-size: 70px;
  margin: 0 15px;
}

.fas.fa-seedling {
  color: olivedrab;
}

.fas.fa-swimmer {
  color: $blue;
}

.fas.fa-monument {
  color: $orange;
}
