.show-card {
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(https://res.cloudinary.com/dcz8avk6a/image/upload/v1637745893/production/card-home_gqllfm.jpg);
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 350px;
  background-color: #fff;
  padding: 20px 30px;
  border: 1px solid rgb(235,235,235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.show-card h3 {
    font-weight: bold;
    text-align: center;
    color: white;
}