<div class='container mt-4'>
  <h2>Please choose a date</h2>
  <div class="md-form md-outline input-with-post-icon datepicker mt-4">
    <input placeholder="Select date" type="date" id="example" class="form-control" style="padding: 30px 20px; font-size: 20px;">
  </div>
  <div class="col-auto mt-4" >
      <button type="submit" class="btn btn-primary mb-3" style="padding: 15px 30px; font-size: 20px;">Book</button>
    </div>
</div>
